* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
}

body {
    font-family: "Outfit", sans-serif;
    font-size: 15px;
    background-color: hsl(212, 45%, 89%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    background-color: hsl(0, 0%, 100%);
    border-radius: 20px;
    width: 260px;
    height: fit-content;
    padding: 16px;
}

.container img {
    width: 100%;
    border-radius: 20px;
}

.text-container {
    padding: 16px 0;
    text-align: center;
}

.text-container h1 {
    font-size: 21px;
    font-weight: 700;
    margin-bottom: 12px;
    padding: 0 10px;
}

.text-container p {
    color: hsl(216, 15%, 48%);
    font-size: 15px;
}

footer {
    font-size: 11px;
    text-align: center;
    position: fixed;
    bottom: 0;
    padding: 16px;
}

footer a {
    color: hsl(228, 45%, 44%);
}